---
import Layout from "@/layouts/Layout.astro";
import { pages } from "@content";
const { mainArticle, title, articles } = pages.home;

let textPosition = ["50%", "50%"];
let mobileTextPosition = ["50%", "50%"];
---

<Layout title="Well-Vie">
	<!-- Hero -->
	<div class="hero">
		<video
			class="hero"
			src="video/HOME_VIDEO_1.mp4"
			autoplay
			width="100%"
			loop
			muted></video>
		<h1>{title}</h1>
	</div>
	<!-- Content -->
	<main>
		<!-- Main Article -->
		<section class="slide">
			<h3>
				{mainArticle.title}
			</h3>
			<p>
				{mainArticle.content}
			</p>
		</section>

		<!-- Articles -->
		{
			articles.map((article) => (
				<article class="slide">
					<img src={article.image} alt={article.title} />
					<section>
						<h2>{article.title}</h2>
						<p>{article.content}</p>
						<a class="btn" href={article.redirect}>
							Know more
						</a>
					</section>
				</article>
			))
		}
	</main>
</Layout>

<style
	define:vars={{
		mobileTextX: mobileTextPosition[0],
		mobileTextY: mobileTextPosition[1],
		textX: textPosition[0],
		textY: textPosition[1],
	}}
>
	.hero {
		position: relative;
		overflow: hidden;
		border-radius: var(--border-radius);
		max-height: calc(100dvh - 2rem - 90px);

		& > h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			color: var(--bg-color);
			max-width: 700px;

			@media (width < 768px) {
				top: var(--textY);
				left: var(--textX);
			}

			@media (width < 500px) {
				top: var(--mobileTextY);
				left: var(--mobileTextX);
				transform: translate(-50%, -50%);
			}
		}

		& > video {
			width: 100%;

			object-fit: cover;
		}
	}

	main {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);
		margin-block: var(--section-gap);
		max-width: 1200px;
		padding: 0 1rem;
	}

	main > section {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--element-gap);
	}

	main > article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: var(--element-gap);

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}

		& > section {
			flex: 1 0 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: var(--element-gap);

			& > a {
				@media (max-width: 600px) {
					align-self: center;
				}
			}
		}

		& > img {
			aspect-ratio: 1/1;
			width: max(calc(50% - var(--horizontal-gap)), 400px);
		}
	}

	img {
		border-radius: var(--border-radius);
		object-fit: cover;
	}
</style>
