---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import RetreatsForm from "@/components/RetreatsForm.svelte";
import { pages } from "@content";
import Testimonial from "@/components/Testimonial.astro";
import Retreat from "@/components/Retreat.astro";

// Page Content
const { title, faqs, policies } = pages.retreats;
---

<Layout title="Retreats | Well-Vie">
	<Hero
		heading={title}
		image="/imgs/retreats/FOR_Retreats.webp"
		position="center"
		mobileImage="60% center"
	/>
	<main>
		<!-- Content 1 -->
		<section>
			<h2>Curated space and time for you</h2>
			<p>
				Step outside the routines of daily life, and into the intentional ritual that is a Well-Vie retreat. From one-day workshops to weeklong immersives, our retreats include breathwork, movement, nourishing food, and so much more. 

			</p>
			<p>
				Join one of our upcoming retreats, or reach out using the form below to work with us to customize a completely personalized workshop for you and your chosen group of friends, family, or coworkers. 

			</p>
		</section>

		<Testimonial
			name="Megan R."
			text="“My first retreat was the perfect balance of healing experiences, teaching moments, and calming activities that nourished the soul. I felt extremely connected and calm in my body all weekend.”"
		/>

		<!-- Next's-->
		<main>
			<h2>Upcoming retreats</h2>
			<section>
				<Retreat
					image="/imgs/retreats/experience/img6.jpg"
					link="https://checkout.square.site/merchant/AH30G71AVF9VJ/checkout/4TUCM6BEKE2MZT7H7XLMORLU"
					title="Tahoe, California <br> November 11 - 13, 2024"
				/>
				<Retreat
					image="/imgs/retreats/experience/img5.jpg"
					link="#interested"
					title="Provence, France <br> April 30 - May 3, 2025"
					button="Join the waitlist"
				/>
				<Retreat
					image="/imgs/retreats/experience/img7.jpg"
					link="#interested"
					title="Europe retreat <br> Early 2025"
					button="Join the waitlist"
					/>
			</section>
		</main>

		<section id="interested">
			<p>
				Interested in one of our upcoming retreats that sign-ups haven’t opened for yet? Email <a href="mailto:mckenzie@well-vie.com">mckenzie@well-vie.com</a>
				 with the retreat name in the subject line to add your name to the waitlist.
			</p>
		</section>

		<Testimonial
			name="Christina L."
			text="“McKenzie's empathetic nature makes everyone feel included and cared for, and her keen insights and breathwork sessions helped me push past my own walls to find greater understanding and empathy for myself.”"
		/>

	
		<!-- Form -->
		<section class="form">
			<h2>Customize your own retreat</h2>
			<p>
				From tailored retreats for you and your closest women, to corporate
				wellness offsites for C-suite executives, we love working with our
				clients to create their perfect retreat. Reach out using the form below,
				or email <a href="mailto:mckenzie@well-vie.com">mckenzie@well-vie.com</a
				> to start a conversation about yours.
			</p>
			<RetreatsForm client:only="svelte" />
		</section>

		<Testimonial
			name="Jackie M."
			text="“I entered the weekend with a feeling of nervous excitement about what I was about to experience. I left feeling mentally stronger, with a feeling of calm, and a new sense of openness.”"
		/>


		<!-- FAQ & Politics -->
		<section class="faq">
			<!-- FAQ -->
			<article>
				<h2>FAQs</h2>
				{
					faqs.map((faq) => (
						<article class="policy">
							<h4>{faq.question}</h4>
							<p set:html={faq.answer} />
						</article>
					))
				}
			</article>

			<!-- Purchasing Policies -->
			<article class="policy">
				<h2>Purchasing Policies</h2>

				{
					policies.map((policy) => (
						<>
							<h4>{policy.title}</h4>
							<p>{policy.content}</p>
						</>
					))
				}
			</article>
		</section>
	</main>

	<style>
		section {
			margin-top: var(--section-gap);

			&:first-of-type,
			&:nth-of-type(4) {
				margin-top: 0;
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
		}

		hr {
			border-top: 2px solid var(--fg-light-color);

			&:first-of-type {
				margin-top: var(--section-gap);
			}

			&:last-of-type {
				margin-bottom: var(--section-gap);
			}
		}

		main {
			margin: var(--section-gap) auto;
			padding: 0 2rem;
			max-width: 1200px;
		}

		/* Retreats Grid */
		main > main  {
			h2 {
				margin-bottom: var(--element-gap);
			}

			& > section {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;

			@media (max-width: 768px) {
				grid-template-columns: 1fr;
				}
			}	
		}
		
		section#interested {
			scroll-margin-block: 10rem;
		}

		@keyframes animateDown {
			0% {
				transform: translatey(-50%);
			}
			100% {
				transform: translatey(0);
			}
		}

		section.form {
			margin-block: var(--section-gap);
		}

		section.form h2 {
			text-align: center;
			margin-bottom: var(--element-gap);
		}

		section.form p {
			text-align: center;
			margin-bottom: var(--element-gap);
		}

		section.faq {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: var(--horizontal-gap);
			margin-top: var(--section-gap);
			margin-bottom: var(--element-gap);
		}

		section.faq > article {
			flex: 1 1 calc(600px - 50% - var(--horizontal-gap));
		}

		section.faq details {
			padding: 1rem 0;
			transition: all 0.3s;
		}

		section.faq details summary {
			color: var(--fg-color);
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			gap: 1rem;
			font-size: var(--paragraph);

			&::-webkit-details-marker {
				display: none;
			}
		}

		section.faq details summary + * {
			margin-top: 1rem;
			font-size: var(--paragraph);
		}

		section.faq details {
			overflow: hidden;
		}

		section.faq details[open] p {
			animation: animateDown 0.2s linear forwards;
		}

		section.faq article.policy h3 {
			margin-bottom: 1rem;
		}

		section.faq article.policy p {
			font-size: 1rem;
			margin-bottom: 1.5rem;
		}
		section.faq article.policy h4 {
			font-family: inherit;
			font-size: 1.2rem;G
		}

		section.faq details a {
			word-break: break-all;
		}
	</style>
</Layout>
