---
import Hero from "@/components/Hero.astro";
import Carousel from "@/components/Carousel.svelte";
import Layout from "@/layouts/Layout.astro";
import RetreatsForm from "@/components/RetreatsForm.svelte";
import RetreatsCarousel from "@/components/RetreatsCarousel.svelte";
import GetSetToExperience from "@/components/GetSetToExperience.svelte";
import { pages } from "@content";

// Carousel images
const images = await Astro.glob("../../public/imgs/retreats/experience/*.webp");
const mappedImgs = images.map((img) => img.default.src);

// Page Content
const { retreats, title, getSetToExperience, testimonials, faqs, policies } =
	pages.retreats;
---

<Layout title="Retreats | Well-Vie">
	<Hero
		heading={title}
		image="/imgs/retreats/FOR_Retreats.webp"
		position="center"
		mobileImage="60% center"
	/>
	<main>
		<section class="next">
			<p class="slide">Next retreat! <br />join us in the journey</p>
			<article class="slide">
				{retreats.map((retreat) => <h2>{retreat}</h2>)}
			</article>
		</section>
		<!-- Get set to experience -->
		<section>
			<h2>Get set to experience</h2>
			<GetSetToExperience articles={getSetToExperience} client:idle />
		</section>

		<!-- Retreats Galery Carousel -->
		<section class="car">
			<h2>Images of our retreat experience and locations</h2>
			<Carousel images={mappedImgs} client:visible />
		</section>

		<section class="testimonials">
			<RetreatsCarousel testimonials={testimonials} client:load />
		</section>

		<!-- Form -->
		<section class="form">
			<h2>Customize Your Retreat or Wellnes Workshop</h2>
			<RetreatsForm client:only="svelte" />
		</section>

		<!-- FAQ & Politics -->
		<section class="faq">
			<section>
				<!-- FAQ -->
				<article>
					<h2>FAQ's</h2>
					{
						faqs.map((faq) => (
							<details name="fq">
								<summary>{faq.question}</summary>
								<p set:html={faq.answer} />
							</details>
						))
					}
				</article>

				<!-- Purchasing Policies -->
				<article class="policy">
					<h2>Purchasing Policies</h2>

					{
						policies.map((policy) => (
							<>
								<h4>{policy.title}</h4>
								<p>{policy.content}</p>
							</>
						))
					}
				</article>
			</section>
		</section>
	</main>
</Layout>

<style>
	@keyframes animateDown {
		0% {
			transform: translatey(-50%);
		}
		100% {
			transform: translatey(0);
		}
	}

	hr {
		border-top: 2px solid var(--fg-light-color);

		&:first-of-type {
			margin-top: var(--section-gap);
		}

		&:last-of-type {
			margin-bottom: var(--section-gap);
		}
	}

	main {
		margin: var(--section-gap) auto;
		padding: 0 2rem;
		max-width: 1200px;
	}

	section.next {
		display: flex;
		flex-wrap: wrap;
		gap: var(--horizontal-gap);
		font-family: var(--roslindale);
		margin-block: var(--section-gap);
	}

	section.next > p {
		font-family: inherit;
	}

	section.next > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--element-gap);
	}

	section.next > article p {
		font-family: inherit;
	}

	section.next + section > h2 {
		text-align: center;
	}

	section.car h2 {
		text-align: center;
		margin: var(--element-gap) 0;
	}

	section.testimonials {
		background-color: var(--fg-color);
		border-radius: var(--border-radius);
	}

	section.form {
		margin-block: var(--section-gap);
	}

	section.form h2 {
		text-align: center;
		margin-bottom: var(--section-gap);
	}

	section.faq > section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: var(--horizontal-gap);
		margin-top: var(--section-gap);
		margin-bottom: var(--element-gap);
	}

	section.faq > section article {
		flex: 1 0 calc(50% - var(--horizontal-gap));
	}

	section.faq details {
		padding: 1rem 0;
		transition: all 0.3s;
	}

	section.faq details summary {
		color: var(--fg-color);
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		gap: 1rem;
		font-size: var(--paragraph);

		&::-webkit-details-marker {
			display: none;
		}
	}

	section.faq details summary + * {
		margin-top: 1rem;
		font-size: var(--paragraph);
	}

	section.faq details {
		overflow: hidden;
	}

	section.faq details[open] p {
		animation: animateDown 0.2s linear forwards;
	}

	section.faq section article.policy h3 {
		margin-bottom: 1rem;
	}

	section.faq section article.policy p {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}
	section.faq section article.policy h4 {
		font-family: inherit;
		font-size: 1.2rem;
	}

	section.faq details a {
		word-break: break-all;
	}

	iframe {
		width: 100%;
		min-height: 300px;
	}
</style>
